body{
    background-color: olivedrab;
}
nav{
    text-align: end;
    padding: 20px;
}
nav ul li{
    padding: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none ;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a:hover{
    border: olivedrab;
}
.main{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}
#row{
    width:40%;
    padding:10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px #333;
    margin:10px;
}
img{
    height: 250px;
}
#img4{
    width: 363px;
}