body{
    background-color: limegreen;
}

}
.main{
    border-radius: 1px solid black;
    box-shadow: gray;
    background-color:lightslategray maroon;

}

nav{
    text-align: end;
    padding: 20px;
    background-color: olivedrab;
}
nav ul li{
    padding: 20px;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none ;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a:hover{
    border: olivedrab;
}
img{
    width:400px;
    border-radius: 1px gray;
}
p{
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
